/* .hero-section{
  background-image: url(../../assets/peakpx.jpg);
} */
*{
  margin: 0;
  padding: 0;
  background-color: gray;
}

.hero-text{
  background-image: url(../../assets/peakpx.jpg);
  width: 100%;
  height: 100vh;
  font-size: 30px;
  font-weight: 500;
  color: white;
  display: flex;
  text-align: center;
  align-items: center;
}

