*{
  box-sizing: border-box;
}

.second{
  display: flex;
  padding: 20px;

}

.leftbar{
  width: 30vw;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.right-section{
  display: flex;
  flex-wrap: wrap;
  width: 70vw;
  justify-content: space-between;
}

.cards{
  width: 21vw;
  height: 450px;
  border: 2px solid black;
  margin: 8px;
}
.cards>img{
  width: 245px;
  height: 300px;
}